<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="shortcut icon" href="./img/fav.png" type="image/x-icon">
		<link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v5.12.1/css/pro.min.css">
		<link
		rel="stylesheet" type="text/css" href="/assets/styles/dashboard.css">
		 <script src="https://kit.fontawesome.com/f01941449c.js" crossorigin="anonymous"></script>
		<title>Welcome categories</title>
	</head>
	<body class="bg-gray-100">
		<!-- start navbar -->
		<div class="md:fixed md:w-full md:top-0 md:z-20 flex flex-row flex-wrap items-center bg-white p-6 border-b border-gray-300">
			<!-- logo -->
			<div class="flex-none w-56 flex flex-row items-center">
				<img src="img/logo.png" class="w-10 flex-none">
				<strong class="capitalize ml-1 flex-1">EventsBro</strong>
				<button id="sliderBtn" class="flex-none text-right text-gray-900 hidden md:block">
					<i class="fad fa-list-ul"></i>
				</button>
			</div>
			<!-- end logo -->
			<!-- navbar content toggle -->
			<button id="navbarToggle" class="hidden md:block md:fixed right-0 mr-6">
				<i class="fad fa-chevron-double-down"></i>
			</button>
			<!-- end navbar content toggle -->
		</div>
		<!-- end navbar -->

		<!-- start wrapper -->
		<div class="h-screen flex flex-row flex-wrap">
			<!-- start sidebar -->
			<div id="sideBar" class="relative flex flex-col flex-wrap bg-white border-r border-gray-300 p-6 flex-none w-64 md:-ml-64 md:fixed md:top-0 md:z-30 md:h-screen md:shadow-xl animated faster">
				<!-- sidebar content -->
				<div
					class="flex flex-col">
					<!-- sidebar toggle -->
					<div class="text-right hidden md:block mb-4">
						<button id="sideBarHideBtn">
							<i class="fad fa-times-circle"></i>
						</button>
					</div>
					<!-- end sidebar toggle -->
					<p class="uppercase text-xs text-gray-600 mb-4 tracking-wider">homes</p>
					<a href="dashbaord" class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
						<i class="fad fa-chart-pie text-xs mr-2"></i>
						Analytics dashboard
					</a>
					<p class="uppercase text-xs text-gray-600 mb-4 mt-4 tracking-wider">apps</p>
					<a href="role.twig" class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
						<i class="fad fa-shield-check text-xs mr-2"></i>
						roles
					</a>
					<a href="Event.twig" class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
						<i class="fad fa-shield-check text-xs mr-2"></i>
						Events
					</a>
					<a href="categories.twig" class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
						<i class="fad fa-calendar-edit text-xs mr-2"></i>
						categories
					</a>
					<a href="users.twig" class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
						<i class="fad fa-file-invoice-dollar text-xs mr-2"></i>
						users
					</a>
					<p class="uppercase text-xs text-gray-600 mb-4 mt-4 tracking-wider">UI Elements</p>
					<a href="./typography.html" class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
						<i class="fad fa-text text-xs mr-2"></i>
						typography
					</a>
					<a href="./alert.html" class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
						<i class="fad fa-whistle text-xs mr-2"></i>
						alerts
					</a>
					<a href="./buttons.html" class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
						<i class="fad fa-cricket text-xs mr-2"></i>
						buttons
					</a>
				</div>
				<!-- end sidebar content -->
			</div>
			<!-- end sidbar -->


            {# <div class="flex justify-evenly items-center ">
                <div class="p-4">
                    <?php if(isset($_SESSION['username'])): ?>
                    <h1 class="text-2xl font-bold">Welcome to my dashboard! <?= $_SESSION['username'] ?></h1>
                    <?php endif ?>
                    <p class="mt-2 text-gray-600">This is an example dashboard using Tailwind CSS.</p>
                </div>
                <!-- button Ajouter player -->
                <div class="btnAjouter">
                    <button id="btnAjouter" class="h-10 w-28 bg-blue-600 text-white rounded shadow-lg">Add Category</button>
                </div>
            </div> #}

            <div class="flex-col max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                {# <div id="content" role="main" class="hidden w-full max-w-md mx-auto p-6">
                    <div class="mt-7 bg-white  rounded-xl shadow-lg dark:bg-gray-800 dark:border-gray-700 border-2 border-indigo-300">
                        <div class="p-4 sm:p-7">
                            <div class="text-center">
                                <h1 class="block text-xl font-bold text-gray-800 dark:text-white">Add Category</h1>
                                <p class="mt-2 text-sm text-gray-600 dark:text-gray-400">
                                    Category_Name
                                </p>
                            </div>

                            <div class="mt-5">
                                <form method="POST">
                                    <div class="grid gap-y-4">
                                        <div>
                                            <label for="category_name"
                                                class="block text-sm font-bold ml-1 mb-2 dark:text-white">category_name</label>
                                            <div class="relative">
                                                <input type="category_name" id="category_name" name="category_name"
                                                    class="py-3 px-4 block w-full border-2 border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 shadow-sm"
                                                    required aria-describedby="category_name-error">
                                            </div>
                                        </div>
                                        <button type="submit" name="addCatgory"
                                            class="py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800">Add
                                            Catigory</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div> #}

                <!-- tablue -->
                <div class="bg-gray-100 flex-1 p-6 md:mt-16">
				  <div class="overflow-x-auto">
					<table class="min-w-full bg-white shadow-md rounded-lg overflow-hidden">
						<thead class="bg-gray-800 text-gray-800">
                            <tr>
                                <th class="py-2 px-4">id</th>
                                <th class="py-2 px-4">Tag</th>
							    <th class="py-2 px-4">img</th>
                                <th class="py-2 px-4">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                          {% if categories %}
                           {% for categorie in categories %}
                             <tr class="border-b">
                                <td class="py-2 px-4 text-center">{{ categorie.category_id }}</td>
                                <td class="py-2 px-4 text-center">{{ categorie.name }}</td>
							    <td class="py-2 px-4 text-center">{{ categorie.img }}</td>
                                {# <td class="py-2 px-4 text-center"> #}
                                    {# <a href="update.php?id=<?= $categorie['id']; ?>" class="text-blue-500 hover:underline"><i
                                            class="fa-solid fa-pencil"></i>
                                    </a>  #}
									|
                                    <td class="py-2 px-4 text-center">
										<button onclick="deleteCategorie({{ categorie.category_id }},this)" class="delete-category-btn text-red-500 hover:underline" data-category-id="{{ categorie.category_id }}">
											<i class="fa-solid fa-trash"></i>
										</button>
									</td>
                                </td>
                             </tr>
                          
						   {% endfor %}
					      {% else %}
							<tr>
								<td colspan="8" class="py-2 px-4 text-center">No data available</td>
							</tr>
					     {% endif %}
					    </tbody>
				    </table>
                  </div>
                </div>
            </div>
		</div>
		<!-- end wrapper -->

		 <script>
						            	
						    function deleteCategorie(categoryId, button) {
						        fetch('/dashboard/categories/delete', {
						          method: 'POST',
						          headers: { 'Content-Type': 'application/json' },
						          body: JSON.stringify({ categoryId: categoryId })
						        })
						        .then(response => response.json())
						        .then(data => {
									console.log(data);
						         if (data.success) {
						            button.closest('tr').remove();
						            alert('categories deleted successfully');
						         } else {
						            alert('Error: ' + data.message);
						         }
						        })
						        // .catch(error => console.error('Error:', error));
						    }
						     
				             
							
				</script>
	</body>

</html>


